* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

.main {
  justify-content: center;
  margin: 2.5rem auto 0;
  width: 75%;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 5rem;
}

nav {
  display: flex;
  width: 50%;
  justify-content: space-evenly;
}

main {
  margin-top: 3rem;
  width: 100%;
}

main .yo {
  margin-top: 3rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.yo img {
  width: 20rem;
  border-radius: 50%;
}

.yo h1 {
  margin-top: 3rem;
  font-family: "Righteous", cursive;
  font-size: 5rem;
}

.yo h3 {
  font-family: "Bitter", serif;
}

.yo p {
  font-family: "Special Elite", cursive;
  margin: 5rem 0 1rem 0;
}

.acerca {
  width: 100%;
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.acerca .tituloAcerca {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.acerca .tituloAcerca h1 {
  font-family: "Righteous", cursive;
  font-size: 4rem;
}

.acerca .articles {
  width: 100%;
  margin-top: 1rem;
}

.acerca .articles article {
  margin-top: 2rem;
}

.acerca .articles article h2 {
  font-family: "Rampart One", cursive;
  font-size: 3rem;
}

.acerca .articles article p {
  font-family: "Caveat", cursive;
  font-size: 2.5rem;
}

.contacto {
  width: 100%;
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contacto .titulo {
  width: 70%;
  display: flex;
  justify-content: flex-end;
}

.contacto .titulo h1 {
  font-family: "Righteous", cursive;
  font-size: 4rem;
}

.contacto .lista {
  width: 70%;
  margin-top: 3rem;
}

.contacto .lista ul {
  list-style: none;
  font-size: 2.2rem;
}
